<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>vue JS - Lolly</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="lolly.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.0.1/vuex.min.js"></script>
</head>
<body>
<div id="app">
<table class="table table-striped table-bordered">
<tr>
<th>id</th>
<th>language</th>
</tr>
<tr v-for="lang in langList">
<td>{{lang.ID}}</td>
<td>{{lang.NAME}}</td>
</tr>
</table>
<form class="form-horizontal" @submit.prevent="formSubmit" action="search" method="post">
	<div class="form-group">
		<label class="col-sm-1 control-label" for='lang'>Language:</label>
    	<div class="col-sm-3">
			<select class="form-control" @change="langChange()" v-model="selectedLang" id='lang'>
				<option v-for="lang in langList" :value="lang">{{lang.NAME}}</option>
			</select>
		</div>
 		<label class="col-sm-1 control-label" for='dict'>Dictionary:</label>
    	<div class="col-sm-3">
			<select class="form-control" v-model="selectedDict" id='dict'>
				<option v-for="dict in dictList" :value="dict">{{dict.NAME}}</option>
			</select>
		</div>
	</div>
 	<div class="form-group">
		<label class="col-sm-1 control-label" for='word'>Word:</label>
    <div class="col-sm-3">
			<input class="form-control" v-model="word" id="word" />
		</div>
    <input type="submit" class="btn btn-primary" value='Search' id='search' @click="searchClick()" />
    <input type="submit" class="btn btn-primary" value='Search(redirect)' id='redirectSearch' @click="redirectSearchClick()" />
	</div>
</form>
<iframe id='dictframe' :src="dictUrl">
</iframe>
</div>
<script>
var store = new Vuex.Store({
  state: {
    langList: [],
    dictList: [],
    selectedLang: null,
    selectedDict: null,
  },
  mutations: {
    setLangs(state, payload) {
      state.langList = payload.LANGUAGES;
      state.selectedLang = state.langList[0];
    },
    setDicts(state, payload) {
      state.dictList = payload.DICTIONARIES;
      state.selectedDict = state.dictList[0];
    },
    setSelectedLang(state, payload) {
      state.selectedLang = payload;
    },
    setSelectedDict(state, payload) {
      state.selectedDict = payload;
    }
  },
  actions: {
    fetchLangs({commit, dispatch}) { //fetchLangs(context)
      $.get('https://zwvista.tk/lolly/api.php/LANGUAGES?transform=1&filter=ID,neq,0', response => {
        commit("setLangs", response); //context.commit("setLangs", response);
        dispatch("fetchDicts"); //context.dispatch("fetchDicts");
      });
    },
    fetchDicts({commit, getters}) {
      $.get('https://zwvista.tk/lolly/api.php/DICTIONARIES?transform=1&filter=LANGIDFROM,eq,' + getters.selectedLang.ID, response => {
        commit("setDicts", response);
      });
    }
  },
  getters: {
    langList: ({langList}) => langList, //langList: state => state.langList,  
    dictList: ({dictList}) => dictList,
    selectedLang: ({selectedLang}) => selectedLang,
    selectedDict: ({selectedDict}) => selectedDict,
  },
}); 
var app = new Vue({
  el: '#app',
  data: {
    word: '一人',
    dictUrl: 'about:blank',
    redirectSearch: false,
  },
  store, //store: store
  mounted() {
    this.fetchLangs(); //store.dispatch("fetchLangs");
  },
 	methods: {
    ...Vuex.mapActions(['fetchLangs','fetchDicts']),
    ...Vuex.mapMutations(['setSelectedLang','setSelectedDict']),
    langChange() {
      this.fetchDicts(); //store.dispatch("fetchDicts");
    },
		formSubmit() {
      var url = this.selectedDict.URL;
      url = url.replace('{0}', encodeURIComponent(this.word));
      if(this.redirectSearch)
        window.location = url;
      else
        this.dictUrl = url;
    },
    searchClick() {
      this.redirectSearch = false;
    },
    redirectSearchClick() {
      this.redirectSearch = true;
    },
  },
  computed: {
    ...Vuex.mapGetters(['langList','dictList']),
    //langList: () => store.getters.langList,
    //dictList: () => store.getters.dictList,
    selectedLang: {
      get: () => store.getters.selectedLang,
      set(newValue) { this.setSelectedLang(newValue); }, //set: newValue => store.commit("setSelectedLang", newValue),
    },
    selectedDict: {
      get: () => store.getters.selectedDict,
      set(newValue) { this.setSelectedDict(newValue); }, //set: newValue => store.commit("setSelectedDict", newValue),
    },
  },
});
</script>
</body>
</html>