<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<p>
  Aggregate
  <button (click)="aggregateService.concat1()">concat1</button>
  <button (click)="aggregateService.concat2()">concat2</button>
  <button (click)="aggregateService.concat3()">concat3</button>
  <button (click)="aggregateService.concat4()">concat4</button>
  <button (click)="aggregateService.concatAll1()">concatAll1</button>
  <button (click)="aggregateService.concatAll2()">concatAll2</button>
  <button (click)="aggregateService.concatAll3()">concatAll3</button>
  <button (click)="aggregateService.reduce1()">reduce1</button>
</p>
<p>
  Combining
  <button (click)="combiningService.combineAll1()">combineAll1</button>
  <button (click)="combiningService.combineLatest1()">combineLatest1</button>
  <button (click)="combiningService.combineLatest2()">combineLatest2</button>
  <button (click)="combiningService.combineLatest3()">combineLatest3</button>
  <button (click)="combiningService.forkJoin1()">forkJoin1</button>
  <button (click)="combiningService.forkJoin2()">forkJoin2</button>
  <button (click)="combiningService.forkJoin3()">forkJoin3</button>
  <button (click)="combiningService.forkJoin4()">forkJoin4</button>
  <button (click)="combiningService.merge1()">merge1</button>
  <button (click)="combiningService.merge2()">merge2</button>
  <button (click)="combiningService.mergeAll1()">mergeAll1</button>
  <button (click)="combiningService.mergeAll2()">mergeAll2</button>
  <button (click)="combiningService.pairwise1()">pairwise1</button>
  <button (click)="combiningService.startWith1()">startWith1</button>
  <button (click)="combiningService.startWith2()">startWith2</button>
  <button (click)="combiningService.startWith3()">startWith3</button>
  <button (click)="combiningService.zip1()">zip1</button>
  <button (click)="combiningService.zip2()">zip2</button>
  <button (click)="combiningService.withLatestFrom1()">withLatestFrom1</button>
  <button (click)="combiningService.withLatestFrom2()">withLatestFrom2</button>
</p>
<p>
  Conditional
  <button (click)="conditionalService.defaultIfEmpty1()">defaultIfEmpty1</button>
  <button (click)="conditionalService.defaultIfEmpty2()">defaultIfEmpty2</button>
  <button (click)="conditionalService.every1()">every1</button>
  <button (click)="conditionalService.every2()">every2</button>
  <button (click)="conditionalService.race1()">race1</button>
  <button (click)="conditionalService.race2()">race2</button>
  <button (click)="conditionalService.skipUntil1()">skipUntil1</button>
  <button (click)="conditionalService.skipWhile1()">skipWhile1</button>
  <button (click)="conditionalService.takeUntil1()">takeUntil1</button>
  <button (click)="conditionalService.takeUntil2()">takeUntil2</button>
  <button (click)="conditionalService.takeWhile1()">takeWhile1</button>
  <button (click)="conditionalService.takeWhile2()">takeWhile2</button>
</p>
<p>
  Connectable
  <button (click)="connectableService.publish1()">publish1</button>
  <button (click)="connectableService.multicast1()">multicast1</button>
  <button (click)="connectableService.multicast2()">multicast2</button>
  <button (click)="connectableService.share1()">share1</button>
  <button (click)="connectableService.shareReplay1()">shareReplay1</button>
  <button (click)="connectableService.shareReplay2()">shareReplay2</button>
  <button (click)="connectableService.shareReplay3()">shareReplay3</button>
  <button (click)="connectableService.shareReplay5()">shareReplay5</button>
</p>
<p>
  Creating
  <button (click)="creatingService.create1()">create1</button>
  <button (click)="creatingService.create2()">create2</button>
  <button (click)="creatingService.empty1()">empty1</button>
  <button (click)="creatingService.empty2()">empty2</button>
  <button (click)="creatingService.from1()">from1</button>
  <button (click)="creatingService.from2()">from2</button>
  <button (click)="creatingService.from3()">from3</button>
  <button (click)="creatingService.from4()">from4</button>
  <button (click)="creatingService.fromEvent1()">fromEvent1</button>
  <button (click)="creatingService.interval1()">interval1</button>
  <button (click)="creatingService.of1()">of1</button>
  <button (click)="creatingService.of2()">of2</button>
  <button (click)="creatingService.range1()">range1</button>
  <button (click)="creatingService.throw1()">throw1</button>
  <button (click)="creatingService.timer1()">timer1</button>
  <button (click)="creatingService.timer2()">timer2</button>
</p>
<p>
  Error Handling
  <button (click)="errorHandlingService.catch_catchError1()">catch_catchError1</button>
  <button (click)="errorHandlingService.catch_catchError2()">catch_catchError2</button>
  <button (click)="errorHandlingService.retry1()">retry1</button>
  <button (click)="errorHandlingService.retryWhen1()">retryWhen1</button>
</p>
<p>
  Filtering
  <button (click)="filteringService.debounce1()">debounce1</button>
  <button (click)="filteringService.debounce2()">debounce2</button>
  <button (click)="filteringService.debounceTime1()">debounceTime1</button>
  <button (click)="filteringService.distinctUntilChanged1()">distinctUntilChanged1</button>
  <button (click)="filteringService.distinctUntilChanged2()">distinctUntilChanged2</button>
  <button (click)="filteringService.filter1()">filter1</button>
  <button (click)="filteringService.filter2()">filter2</button>
  <button (click)="filteringService.filter3()">filter3</button>
  <button (click)="filteringService.first1()">first1</button>
  <button (click)="filteringService.first2()">first2</button>
  <button (click)="filteringService.first3()">first3</button>
  <button (click)="filteringService.ignoreElements1()">ignoreElements1</button>
  <button (click)="filteringService.ignoreElements2()">ignoreElements2</button>
  <button (click)="filteringService.last1()">last1</button>
  <button (click)="filteringService.last2()">last2</button>
  <button (click)="filteringService.last3()">last3</button>
  <button (click)="filteringService.sample1()">sample1</button>
  <button (click)="filteringService.sample2()">sample2</button>
  <button (click)="filteringService.sample3()">sample3</button>
  <button (click)="filteringService.single1()">single1</button>
  <button (click)="filteringService.skip1()">skip1</button>
  <button (click)="filteringService.skip2()">skip2</button>
  <button (click)="filteringService.take1()">take1</button>
  <button (click)="filteringService.take2()">take2</button>
  <button (click)="filteringService.take3()">take3</button>
  <button (click)="filteringService.throttle1()">throttle1</button>
  <button (click)="filteringService.throttle2()">throttle2</button>
  <button (click)="filteringService.throttleTime1()">throttleTime1</button>
  <button (click)="filteringService.throttleTime2()">throttleTime2</button>
</p>
<p>
  REST
  <button (click)="postService.restExample()">restExample</button>
</p>
<p>
  Tranforming
  <button (click)="transformingService.buffer1()">buffer1</button>
  <button (click)="transformingService.bufferCount1()">bufferCount1</button>
  <button (click)="transformingService.bufferCount2()">bufferCount2</button>
  <button (click)="transformingService.bufferTime1()">bufferTime1</button>
  <button (click)="transformingService.bufferTime2()">bufferTime2</button>
  <button (click)="transformingService.bufferToggle1()">bufferToggle1</button>
  <button (click)="transformingService.bufferWhen1()">bufferWhen1</button>
  <button (click)="transformingService.concatMap1()">concatMap1</button>
  <button (click)="transformingService.concatMap2()">concatMap2</button>
  <button (click)="transformingService.concatMap3()">concatMap3</button>
  <button (click)="transformingService.concatMapTo1()">concatMapTo1</button>
  <button (click)="transformingService.concatMapTo2()">concatMapTo2</button>
  <button (click)="transformingService.exhaustMap1()">exhaustMap1</button>
  <button (click)="transformingService.exhaustMap2()">exhaustMap2</button>
  <button (click)="transformingService.groupBy1()">groupBy1</button>
  <button (click)="transformingService.expand1()">expand1</button>
  <button (click)="transformingService.map1()">map1</button>
  <button (click)="transformingService.map2()">map2</button>
  <button (click)="transformingService.mapTo1()">mapTo1</button>
  <button (click)="transformingService.mapTo2()">mapTo2</button>
  <button (click)="transformingService.partition1()">partition1</button>
  <button (click)="transformingService.partition2()">partition2</button>
  <button (click)="transformingService.mergeMap_flatMap1()">mergeMap_flatMap1</button>
  <button (click)="transformingService.mergeMap_flatMap2()">mergeMap_flatMap2</button>
  <button (click)="transformingService.mergeMap_flatMap3()">mergeMap_flatMap3</button>
  <button (click)="transformingService.mergeMap_flatMap4()">mergeMap_flatMap4</button>
  <button (click)="transformingService.pluck1()">pluck1</button>
  <button (click)="transformingService.pluck2()">pluck2</button>
  <button (click)="transformingService.scan1()">scan1</button>
  <button (click)="transformingService.scan2()">scan2</button>
  <button (click)="transformingService.scan3()">scan3</button>
  <button (click)="transformingService.switchMap1()">switchMap1</button>
  <button (click)="transformingService.switchMap2()">switchMap2</button>
  <button (click)="transformingService.switchMap3()">switchMap3</button>
  <button (click)="transformingService.switchMap4()">switchMap4</button>
  <button (click)="transformingService.window1()">window1</button>
  <button (click)="transformingService.windowCount1()">windowCount1</button>
  <button (click)="transformingService.windowTime1()">windowTime1</button>
  <button (click)="transformingService.windowToggle1()">windowToggle1</button>
  <button (click)="transformingService.windowWhen1()">windowWhen1</button>
</p>
<p>
  To
  <button (click)="toService.toPromise1()">toPromise1</button>
  <button (click)="toService.toPromise2()">toPromise2</button>
</p>
<p>
  UI
  <input class="number" [(ngModel)]="number1" (ngModelChange)="onChangeNumber()"> +
  <input class="number" [(ngModel)]="number2" (ngModelChange)="onChangeNumber()"> +
  <input class="number" [(ngModel)]="number3" (ngModelChange)="onChangeNumber()"> =
  <label>{{result}}</label><br>
  UI
  <input #number1Ref class="number" value="1"> +
  <input #number2Ref class="number" value="2"> +
  <input #number3Ref class="number" value="3"> =
  <label>{{resultAsync | async}}</label>
</p>
<p>
  Utility
  <button (click)="utilityService.do_tap1()">do_tap1</button>
  <button (click)="utilityService.delay1()">delay1</button>
  <button (click)="utilityService.delayWhen1()">delayWhen1</button>
  <button (click)="utilityService.dematerialize1()">dematerialize1</button>
  <button (click)="utilityService.timeout1()">timeout1</button>
</p>

