<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div>
  <button (click)="postService.restExample()">restExample</button>
</div>
<div>
  <button (click)="creatingService.create1()">create1</button>
  <button (click)="creatingService.create2()">create2</button>
  <button (click)="creatingService.empty1()">empty1</button>
  <button (click)="creatingService.fromArray()">fromArray</button>
  <button (click)="creatingService.fromPromise()">fromPromise</button>
  <button (click)="creatingService.fromCollection()">fromCollection</button>
  <button (click)="creatingService.fromString()">fromString</button>
  <button (click)="creatingService.of1()">of1</button>
  <button (click)="creatingService.of2()">of2</button>
  <button (click)="creatingService.range1()">range1</button>
  <button (click)="creatingService.throw1()">throw1</button>
  <button (click)="creatingService.timer1()">timer1</button>
  <button (click)="creatingService.timer2()">timer2</button>
</div>
<div>
  <button (click)="transformingService.buffer1()">buffer1</button>
  <button (click)="transformingService.bufferCount1()">bufferCount1</button>
  <button (click)="transformingService.bufferTime1()">bufferTime1</button>
  <button (click)="transformingService.bufferTime2()">bufferTime2</button>
  <button (click)="transformingService.bufferToggle1()">bufferToggle1</button>
</div>

