<html>
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>DR要求</title>
<link rel="stylesheet" href="index.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
<script src="datepicker-ja.js"></script>
</head>
<body>
<div id="app">
<fieldset>
<legend>検索条件</legend>
  <table>
    <tr>
      <td class="td-fixed-width">日付</td>
      <td><input class="search-input" v-model="selectedDate" id="date1" readonly="readonly"></td>
    </tr>
    <tr>
      <td>会社</td>
      <td>
        <select class="search-input" v-model="selectedCompany">
          <option></option>
          <option v-for="item in companyList" :value="item.id">{{item.name}}</option>
        </select>
      </td>
    </tr>          
    <tr>
        <td>エリア</td>
        <td>
          <select class="search-input" v-model="selectedArea">
            <option></option>
            <option v-for="item in areaList" :value="item.id">{{item.name}}</option>
          </select>
        </td>
        <td style="width:100px;text-align:right;">
          <button @click="searchClick()">表示</button>
        </td>
      </tr>          
    </table>
</fieldset>
<fieldset>
<legend>検索結果</legend>
  <table>
    <tr>
      <td class="td-fixed-width"></td>
      <td>
        電力価格取得日時 <input v-model="fetchTime" readonly="readonly">
      </td>
    </tr>
    <tr>
      <td>
        <table>
          <tr class="tr-fixed-height"><td></td></tr>
          <tr class="tr-fixed-height"><td>価格(円/kWh)</td></tr>
        </table>
      </td>
      <td>
        <div class="div-scroll" id="div-scroll-top">
          <table class="table-scroll">
            <tr class="tr-fixed-height">
              <td class="td-time" v-for="item in timeList">{{item}}</td>
            </tr>
            <tr class="tr-fixed-height">
              <td class="td-readonly" v-for="item in priceList">{{item}}</td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <table>
          <tr class="tr-fixed-height"><td></td></tr>
          <tr class="tr-fixed-height"><td>自動(kWh)</td></tr>
          <tr class="tr-fixed-height"><td>充電余力(kWh)</td></tr>
          <tr class="tr-fixed-height"><td>放電余力(kWh)</td></tr>
          <tr class="tr-fixed-height"><td>手動(kWh)</td></tr>
          </tr>
        </table>
      </td>
      <td>
        <div class="div-scroll" id="div-scroll-bottom">
          <table class="table-scroll">
            <tr class="tr-fixed-height">
              <td class="td-time" v-for="item in timeList">{{item}}</td>
            </tr>
            <tr class="tr-fixed-height">
              <td class="td-readonly" v-for="item in autoList">{{item}}</td>
            </tr>
            <tr class="tr-fixed-height">
              <td class="td-readonly" v-for="item in chargeList">{{item}}</td>
            </tr>
            <tr class="tr-fixed-height">
              <td class="td-readonly" v-for="item in dischargeList">{{item}}</td>
            </tr>
            <tr class="tr-fixed-height">
              <td class="td-manual" v-for="item in manualList">{{item}}</td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button @click="multiEnterClick()">一括入力</button>
        <button @click="clearClick()">クリア</button>
        <button @click="resetClick()">リセット</button>
      </td>
    </tr>
  </table>
</fieldset>
<span style="margin-left:150px;">メッセージ</span> <input style="width:300px;" v-model="message" id="message" readonly="readonly">
<button style="margin-left:350px;" @click="checkClick()">チェック</button>
<button @click="execClick()">DR実行</button>
<script src="index.js">
</script>
</div>
</body>
</html>