body {
    background-color: aqua;
}

.div-scroll {
    max-width: 1000px;
    overflow: auto;
}

.table-scroll {
    border: 1px solid #000;
    border-spacing:0;
    margin: 5px;
    overflow-x: auto;
}
.table-scroll td {
    border: 1px solid #000;
    min-width: 70px;
}

.tr-fixed-height {
    height: 30px;
    min-height: 30px;
}

.td-fixed-width {
    width: 120px;
}

.td-time {
    background-color: yellow;
}

.td-manual {
    background-color: white;
}

.td-readonly {
    background-color: lightgray;
}

.td-manual-selected {
    background-color: greenyellow;
}

.ui-datepicker {
    /*background: transparent;*/
    background: white;
}

.search-input {
    width: 200px;
}