<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example </title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    </head>
    <body>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <form th:action="@{/signup}" method="post">
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign Up"/></div>
        </form>
        <script th:inline="javascript">
            $(function () {
                if ([[${param.error}]]) {
                    alert('Invalid username and password.');
                }
            })
        </script>
    </body>
</html>