<!DOCTYPE html>
<html ng-app="lollyApp">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Angular JS - Lolly</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="lolly.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js"></script>
<script>
angular.module('lollyApp', []).controller("lollyCtrl", ["$scope", "$http", "$sce", function($scope, $http, $sce) {
	$scope.word = '一人';
	$http.get('https://zwvista2.tk/lolly/api.php/records/LANGUAGES?filter=ID,neq,0').then(function(response) {
    $scope.langList = response.data.records;
    $scope.selectedLang = $scope.langList[0];
		$scope.langChanged();
  });
	$scope.langChanged = function() {
		$http.get('https://zwvista2.tk/lolly/api.php/records/DICTIONARIES?filter=LANGIDFROM,eq,' + $scope.selectedLang.ID).then(function(response) {
      $scope.dictList = response.data.records;
      $scope.selectedDict = $scope.dictList[0];
    });
	};
	$scope.trustSrc = function(url) {
		return $sce.trustAsResourceUrl(url);
	};
	$scope.redirectSearch = false;
  $scope.searchClick = function() {$scope.redirectSearch = false;};
  $scope.redirectSearchClick = function() {$scope.redirectSearch = true;};
	$scope.getDictUrl = function() {
		event.preventDefault();
    var url = $scope.selectedDict.URL;
    url = url.replace('{0}', encodeURIComponent($scope.word));
    if($scope.redirectSearch)
      window.location = url;
    else
      $scope.dictUrl = url;
	};
}]);
</script>
</head>
<body ng-controller="lollyCtrl" id="lollyCtrl">
<table class="table table-striped table-bordered">
<tr>
<th>id</th>
<th>language</th>
</tr>
<tr ng-repeat="o in langList">
<td>{{o.ID}}</td>
<td>{{o.NAME}}</td>
</tr>
</table>
<form class="form-horizontal" ng-submit="getDictUrl()" action='search'>
	<div class="form-group">
		<label class="col-sm-1 control-label" for='lang'>Language:</label>
    	<div class="col-sm-3">
			<select class="form-control" id="lang" ng-model="selectedLang" ng-change="langChanged()"
				ng-options="o as o.NAME for o in langList">
			</select>
		</div>
		<label class="col-sm-1 control-label" for='dict'>Dictionary:</label>
    	<div class="col-sm-3">
			<select class="form-control" id="dict" ng-model="selectedDict"
				ng-options="o as o.NAME for o in dictList">
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-1 control-label" for='word'>Word:</label>
    <div class="col-sm-3">
			<input type="text" class="form-control" id="word" ng-model="word"/>
		</div>
    <input type="submit" class="btn btn-primary" value='Search' id='search' ng-click="searchClick()" />
    <input type="submit" class="btn btn-primary" value='Search(redirect)' id='redirectSearch' ng-click="redirectSearchClick()" />
	</div>
</form>
<iframe id='dictframe' ng-src="{{trustSrc(dictUrl)}}">
</iframe>
</body>
</html>