<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>vue JS - Lolly</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="lolly.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.10/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.6.2/vuex.min.js"></script>
</head>
<body>
<div id="app">
<table class="table table-striped table-bordered">
<tr>
<th>id</th>
<th>language</th>
</tr>
<tr v-for="lang in langList">
<td>{{lang.ID}}</td>
<td>{{lang.NAME}}</td>
</tr>
</table>
<form class="form-horizontal" @submit.prevent="formSubmit" action="search" method="post">
	<div class="form-group">
		<label class="col-sm-1 control-label" for='lang'>Language:</label>
    	<div class="col-sm-3">
			<select class="form-control" @change="langChange()" v-model="selectedLang" id='lang'>
				<option v-for="lang in langList" :value="lang">{{lang.NAME}}</option>
			</select>
		</div>
 		<label class="col-sm-1 control-label" for='dict'>Dictionary:</label>
    	<div class="col-sm-3">
			<select class="form-control" v-model="selectedDict" id='dict'>
				<option v-for="dict in dictList" :value="dict">{{dict.NAME}}</option>
			</select>
		</div>
	</div>
 	<div class="form-group">
		<label class="col-sm-1 control-label" for='word'>Word:</label>
    <div class="col-sm-3">
			<input class="form-control" v-model="word" id="word" />
		</div>
    <input type="submit" class="btn btn-primary" value='Search' id='search' @click="searchClick()" />
    <input type="submit" class="btn btn-primary" value='Search(redirect)' id='redirectSearch' @click="redirectSearchClick()" />
	</div>
</form>
<iframe id='dictframe' :src="dictUrl">
</iframe>
</div>
<script>
var store = new Vuex.Store({
  state: {
    langList: [],
    dictList: [],
    selectedLang: null,
    selectedDict: null,
    word: '一人',
    dictUrl: 'about:blank',
    redirectSearch: false,
  },
  mutations: {
    setLangs(state, payload) {
      state.langList = payload.records;
      state.selectedLang = state.langList[0];
    },
    setDicts(state, payload) {
      state.dictList = payload.records;
      state.selectedDict = state.dictList[0];
    },
    setSelectedLang(state, payload) {
      state.selectedLang = payload;
    },
    setSelectedDict(state, payload) {
      state.selectedDict = payload;
    },
    setWord(state, payload) {
      state.word = payload;
    },
    setDictUrl(state, payload) {
      state.dictUrl = payload;
    },
    setRedirectSearch(state, payload) {
      state.redirectSearch = payload;
    },
  },
  actions: {
    async fetchLangs({commit, dispatch}) { //fetchLangs(context)
      const response = await fetch('https://zwvista.com/lolly/api.php/records/LANGUAGES?filter=ID,neq,0');
      const data = await response.json();
      commit("setLangs", data); //context.commit("setLangs", data);
      dispatch("fetchDicts"); //context.dispatch("fetchDicts");
    },
    async fetchDicts({commit, state}) {
      const response = await fetch('https://zwvista.com/lolly/api.php/records/DICTIONARIES?filter=LANGIDFROM,eq,' + state.selectedLang.ID);
      const data = await response.json();
      commit("setDicts", data);
    },
  },
}); 
var app = new Vue({
  el: '#app',
  store, //store: store
  async mounted() {
    await this.fetchLangs(); //store.dispatch("fetchLangs");
  },
 	methods: {
    ...Vuex.mapActions(['fetchLangs','fetchDicts']),
    async langChange() {
      await this.fetchDicts(); //store.dispatch("fetchDicts");
    },
		formSubmit() {
      let url = this.selectedDict.URL;
      url = url.replace('{0}', encodeURIComponent(this.word));
      if(this.redirectSearch)
        window.location = url;
      else
        this.dictUrl = url;
    },
    searchClick() {
      this.redirectSearch = false;
    },
    redirectSearchClick() {
      this.redirectSearch = true;
    },
  },
  computed: {
    ...Vuex.mapState(['langList','dictList']),
    //langList: () => store.state.langList,
    //dictList: () => store.state.dictList,
    selectedLang: {
      ...Vuex.mapState({ get: 'selectedLang' }),//get: store.state.selectedLang,
      ...Vuex.mapMutations({ set: 'setSelectedLang' }),//set: newValue => store.commit("setSelectedLang", newValue),
    },
    selectedDict: {
      ...Vuex.mapState({ get: 'selectedDict' }),
      ...Vuex.mapMutations({ set: 'setSelectedDict' }),
    },
    word: {
      ...Vuex.mapState({ get: 'word' }),
      ...Vuex.mapMutations({ set: 'setWord' }),
    },
    dictUrl: {
      ...Vuex.mapState({ get: 'dictUrl' }),
      ...Vuex.mapMutations({ set: 'setDictUrl' }),
    },
    redirectSearch: {
      ...Vuex.mapState({ get: 'redirectSearch' }),
      ...Vuex.mapMutations({ set: 'setRedirectSearch' }),
    },
  },
});
</script>
</body>
</html>